//     ________           __       __  ___
//    / ____/ /___ ______/ /_     /  |/  /__  ______________ _____ ____  _____
//   / /_  / / __ `/ ___/ __ \   / /|_/ / _ \/ ___/ ___/ __ `/ __ `/ _ \/ ___/
//  / __/ / / /_/ (__  ) / / /  / /  / /  __(__  |__  ) /_/ / /_/ /  __(__  )
// /_/   /_/\__,_/____/_/ /_/  /_/  /_/\___/____/____/\__,_/\__, /\___/____/
//                                                         /____/


.flasher{
	position: fixed;
	right: 0;
	top: 0;
	padding: 1rem;
}