.d-flex{
	display: flex;
}

.justify-content-center{
	justify-content: center;
}
.justify-content-start{
	justify-content: flex-start;
}
.justify-content-end{
	justify-content: flex-end;
}
.justify-content-between{
	justify-content: space-between;
}

.align-items-center{
	align-items: center;
}
.align-items-stretch{
	align-items: stretch;
}
.align-items-end{
	align-items: flex-end;
}
.align-items-start{
	align-items: flex-start;
}
.align-items-baseline{
	align-items: baseline;
}

.m-1{
	margin: 0.3rem;
}
.m-2{
	margin: 0.7rem;
}
.m-3{
	margin: 1rem;
}
.m-4{
	margin: 1.5rem;
}
.m-4{
	margin: 2rem;
}

.ml-1{
	margin-left: 0.3rem;
}
.ml-2{
	margin-left: 0.7rem;
}
.ml-3{
	margin-left: 1rem;
}
.ml-4{
	margin-left: 1.5rem;
}
.ml-4{
	margin-left: 2rem;
}

.mr-1{
	margin-right: 0.3rem;
}
.mr-2{
	margin-right: 0.7rem;
}
.mr-3{
	margin-right: 1rem;
}
.mr-4{
	margin-right: 1.5rem;
}
.mr-4{
	margin-right: 2rem;
}

.mb-1{
	margin-bottom: 0.3rem;
}
.mb-2{
	margin-bottom: 0.7rem;
}
.mb-3{
	margin-bottom: 1rem;
}
.mb-4{
	margin-bottom: 1.5rem;
}
.mb-4{
	margin-bottom: 2rem;
}

.mt-1{
	margin-top: 0.3rem;
}
.mt-2{
	margin-top: 0.7rem;
}
.mt-3{
	margin-top: 1rem;
}
.mt-4{
	margin-top: 1.5rem;
}
.mt-4{
	margin-top: 2rem;
}

.float-right{
	float: right;
}
.float-left{
	float: left;
}