@font-face {
    font-family: "OpenSans";
    src: url('/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Vollkorn";
    src: url('/fonts/Vollkorn/Vollkorn-Regular.ttf');
	font-weight: 500;
	font-style: normal;
}

h1{
	font-size: 2.2rem;
}
h2{
	font-size: 1.8rem;
	font-weight: bold;
}
h3{
	font-size: 1.5rem;
	font-weight: bold;
}
h4{
	font-size: 1.2rem;
	font-weight: bold;
}
h5{
	font-size: 1rem;
	font-weight: bold;
}
h6{
	font-size: 0.8rem;
	font-weight: bold;
}

p{
	font-size: 1.2rem;
}