//     _   _____ _    __
//    / | / /   | |  / /
//   /  |/ / /| | | / /
//  / /|  / ___ | |/ /
// /_/ |_/_/  |_|___/

#main-nav{
	.nav-header{
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
	}

	.logo-container{
		text-decoration: none;
		color: black;
		.text{
			font-size: 1.5rem;
		}

		#logo{
			font-size: 2rem;
		} 
	}

	@media (min-width: $breakpoint-tablet) {
		.nav-header{
			flex-direction: row;
			justify-content: space-between;
		}
		.logo-container{
			.text{
				font-size: 3.5rem;
			}

			#logo{
				font-size: 3rem;
			} 
		}
	}

	.page-name{
		display: flex;
		align-items: center;
		.card{
			position: relative;
			width: 15px;
			height: 25px;
			background-color: red;
			border: solid 3px black;
			border-radius: 5px;
		}

		.title{
			margin-right: 0.4rem;
			margin-bottom: 0;
			font-size: 1.1rem;
			font-family: "OpenSans", sans-serif;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	#Workshops-manager-nav-header{
		.card{
			background-color: red;
			border: solid 5px #572020;
		}
	}
	#decks-manager-nav-header{
		.card{
			background-color: #FFF06C;
			border: solid 5px #BBB36E;
		}
	}
	#cards-manager-nav-header{
		.card{
			background-color: #73BCFF;
			border: solid 5px #D2E2F0;
		}
	}
	#login-nav-header{
		.card{
			background-color: #07EA1E;
			border: solid 5px #5D8A62;
		}
	}

	ul{
		margin-left: 0;
		padding-left: 0.3rem;
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		margin-bottom: 4rem;
		// min-height-bottom: 100px;


		@media (min-width: $breakpoint-tablet) {
			flex-direction: row;
			justify-content: flex-start;
		}

		.nav-elem{
			a{
				text-decoration: none;
			}

			overflow: visible;
			transition: all 0.4s;
			// transition-timing-function: ease-in;

			height: 10px;
			@media (min-width: $breakpoint-tablet){
				height: unset;
				max-width: 20px;
				&:hover{
					max-width: 150px;
					padding-left: 2rem;
					padding-right: 1rem;
				} 
				&:first-child{
					padding-left: 0rem;
				}
			}

			// width: 50px;
			// display: inline-block;
			.card{
				position: relative;
				width: 40px;
				height: 60px;
				background-color: red;
				border: solid 5px black;
				border-radius: 5px;
				margin-bottom: 0.5rem;
			}	

			.title{
				color: white;
				font-family: "OpenSans", sans-serif;
				font-weight: bold;
				background-color: red;
				padding: 0.1rem 0.4rem;	
				display: none;

				@media (min-width: $breakpoint-tablet){
					display: unset;
				}

			}

		}

		#workshop-nav{
			.card{
				background-color: red;
				border: solid 5px #572020;
			}
			.title{
				background-color: red;
			}	
		}
		#decks-nav{
			.card{
				background-color: #FFF06C;
				border: solid 5px #BBB36E;
			}
			.title{
				background-color: #FFF06C;
			}	
		}
		#cards-nav{
			.card{
				background-color: #73BCFF;
				border: solid 5px #D2E2F0;
			}
			.title{
				background-color: #73BCFF;
			}	
		}
		#login-nav{
			.card{
				background-color: #07EA1E;
				border: solid 5px #5D8A62;
			}
			.title{
				background-color: #07EA1E;
			}	
		}
		#register-nav{
			.card{
				background-color: red;
				border: solid 5px black;
			}
			.title{
				background-color: red;
			}	
		}
		#logout-nav{
			.card{
				background-color: red;
				border: solid 5px black;
			}
			.title{
				background-color: red;
			}	
		}
		#user-nav{
			.card{
				background-color: red;
				border: solid 5px black;
			}
			.title{
				background-color: red;
			}	
		}
	}

	.nav-container{
		pointer-events: none;

		@media (min-width: $breakpoint-tablet) {
			pointer-events: unset;
		}
	}

	.mobile-nav{
		position: absolute;
		left: 0; top: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: rgba(0,0,0,0.3);	
		@media (min-width: $breakpoint-tablet) {
			display: none;
			visibility: hidden;
		}


	ul{
		width: 100%;
		margin-left: 0;
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		// min-height-bottom: 100px;
		.nav-elem{
			a{
				text-decoration: none;
			}

			transition: all 0.4s;
			width: 50%;
			height: unset;

			// width: 50px;
			// display: inline-block;
			.card{
				position: relative;
				width: 150px;
				max-width: 45vw;
				height: 260px;
				max-height: 45vw;
				background-color: red;
				border: solid 5px black;
				border-radius: 5px;
				margin-bottom: 0.5rem;

				.title{
					color: white;
					font-family: "OpenSans", sans-serif;
					font-weight: bold;
					background-color: red;
					padding: 0.1rem 0.4rem;	
					display: inline-block !important;
				}
			}	


		}

		#workshop-nav{
			.card{
				background-color: red;
				border: solid 5px #572020;
			}
			.title{
				background-color: red;
			}	
		}
		#decks-nav{
			.card{
				background-color: #FFF06C;
				border: solid 5px #BBB36E;
			}
			.title{
				background-color: #FFF06C;
			}	
		}
		#cards-nav{
			.card{
				background-color: #73BCFF;
				border: solid 5px #D2E2F0;
			}
			.title{
				background-color: #73BCFF;
			}	
		}
		#login-nav{
			.card{
				background-color: #07EA1E;
				border: solid 5px #5D8A62;
			}
			.title{
				background-color: #07EA1E;
			}	
		}
		#register-nav{
			.card{
				background-color: red;
				border: solid 5px black;
			}
			.title{
				background-color: red;
			}	
		}
		#logout-nav{
			.card{
				background-color: red;
				border: solid 5px black;
			}
			.title{
				background-color: red;
			}	
		}
		#user-nav{
			.card{
				background-color: red;
				border: solid 5px black;
			}
			.title{
				background-color: red;
			}	
		}
	}
	}

}

