
// Bootstrap
// @import '~bootstrap/scss/bootstrap';


// $material-icons-font-path: '~material-icons/iconfont/';
// @import '~material-icons/iconfont/material-icons.scss';

@import 'fonts';
@import 'variables';
@import 'nav';
@import 'global';
@import 'form';
@import 'flex';
@import 'buttons';
@import 'cards';
@import 'flash-messages';

//     ____  _   ______
//    / __ \/ | / / __ \
//   / / / /  |/ / / / /
//  / /_/ / /|  / /_/ /
// /_____/_/ |_/_____/
html{
	font-family: "Vollkorn", sans-serif;
}

.deck-maker{
	.smooth-dnd-container{
	    width: 30vw;
	    height: 300px;
	    border: solid 1px black;
	}
}


.page-title{
	border-bottom: 5px solid black; 
}