
// Bootstrap
// @import '~bootstrap/scss/bootstrap';


// $material-icons-font-path: '~material-icons/iconfont/';
// @import '~material-icons/iconfont/material-icons.scss';

@import 'fonts';
@import 'variables';
@import 'nav';
@import 'global';

//     ____  _   ______
//    / __ \/ | / / __ \
//   / / / /  |/ / / / /
//  / /_/ / /|  / /_/ /
// /_____/_/ |_/_____/
html{
	font-family: "Vollkorn", sans-serif;
}

.deck-maker{
	.smooth-dnd-container{
	    width: 30vw;
	    height: 300px;
	    border: solid 1px black;
	}
}


.page-title{
	border-bottom: 5px solid black; 
}

.form-group{
	input{
		border-radius: 3px;
		border: 3px solid black; 
		padding: 0.3rem 0.6rem;
	}
}

.input-group-text{
	border: 1px dashed black;
	background: unset !important;
}
