@font-face {
  font-family: "OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Vollkorn";
  src: url("/fonts/Vollkorn/Vollkorn-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

h6 {
  font-size: 0.8rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}

#main-nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-nav .logo-container {
  text-decoration: none;
  color: black;
}

#main-nav .logo-container .text {
  font-size: 1.5rem;
}

#main-nav .logo-container #logo {
  font-size: 2rem;
}

@media (min-width: 800px) {
  #main-nav .nav-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #main-nav .logo-container .text {
    font-size: 3.5rem;
  }

  #main-nav .logo-container #logo {
    font-size: 3rem;
  }
}

#main-nav .page-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-nav .page-name .card {
  position: relative;
  width: 15px;
  height: 25px;
  background-color: red;
  border: solid 3px black;
  border-radius: 5px;
}

#main-nav .page-name .title {
  margin-right: 0.4rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#main-nav #Workshops-manager-nav-header .card {
  background-color: red;
  border: solid 5px #572020;
}

#main-nav #decks-manager-nav-header .card {
  background-color: #FFF06C;
  border: solid 5px #BBB36E;
}

#main-nav #cards-manager-nav-header .card {
  background-color: #73BCFF;
  border: solid 5px #D2E2F0;
}

#main-nav #login-nav-header .card {
  background-color: #07EA1E;
  border: solid 5px #5D8A62;
}

#main-nav ul {
  margin-left: 0;
  padding-left: 0.3rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

@media (min-width: 800px) {
  #main-nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#main-nav ul .nav-elem {
  overflow: visible;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 10px;
}

#main-nav ul .nav-elem a {
  text-decoration: none;
}

@media (min-width: 800px) {
  #main-nav ul .nav-elem {
    height: unset;
    max-width: 20px;
  }

  #main-nav ul .nav-elem:hover {
    max-width: 150px;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

#main-nav ul .nav-elem .card {
  position: relative;
  width: 40px;
  height: 60px;
  background-color: red;
  border: solid 5px black;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

#main-nav ul .nav-elem .title {
  color: white;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  background-color: red;
  padding: 0.1rem 0.4rem;
  display: none;
}

@media (min-width: 800px) {
  #main-nav ul .nav-elem .title {
    display: unset;
  }
}

#main-nav ul #workshop-nav .card {
  background-color: red;
  border: solid 5px #572020;
}

#main-nav ul #workshop-nav .title {
  background-color: red;
}

#main-nav ul #decks-nav .card {
  background-color: #FFF06C;
  border: solid 5px #BBB36E;
}

#main-nav ul #decks-nav .title {
  background-color: #FFF06C;
}

#main-nav ul #cards-nav .card {
  background-color: #73BCFF;
  border: solid 5px #D2E2F0;
}

#main-nav ul #cards-nav .title {
  background-color: #73BCFF;
}

#main-nav ul #login-nav .card {
  background-color: #07EA1E;
  border: solid 5px #5D8A62;
}

#main-nav ul #login-nav .title {
  background-color: #07EA1E;
}

#main-nav ul #register-nav .card {
  background-color: red;
  border: solid 5px black;
}

#main-nav ul #register-nav .title {
  background-color: red;
}

#main-nav ul #logout-nav .card {
  background-color: red;
  border: solid 5px black;
}

#main-nav ul #logout-nav .title {
  background-color: red;
}

#main-nav ul #user-nav .card {
  background-color: red;
  border: solid 5px black;
}

#main-nav ul #user-nav .title {
  background-color: red;
}

#main-nav .nav-container {
  pointer-events: none;
}

@media (min-width: 800px) {
  #main-nav .nav-container {
    pointer-events: unset;
  }
}

#main-nav .mobile-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 800px) {
  #main-nav .mobile-nav {
    display: none;
    visibility: hidden;
  }
}

.clickable {
  cursor: pointer;
}

main {
  padding: 1rem 0;
}

.invisible {
  opacity: 0;
  display: none;
}

html {
  font-family: "Vollkorn", sans-serif;
}

.deck-maker .smooth-dnd-container {
  width: 30vw;
  height: 300px;
  border: solid 1px black;
}

.page-title {
  border-bottom: 5px solid black;
}

