@font-face {
    font-family: "OpenSans";
    src: url('/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Vollkorn";
    src: url('/fonts/Vollkorn/Vollkorn-Regular.ttf');
	font-weight: 500;
	font-style: normal;
}
